body {
  font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

body * {
  line-height: initial;
}




/*Main Text Color*/
p, li, span, dd {
  color: rgba(0,0,0,.5);
}

.wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
}

article {
  max-width: 750px;
}

article .logo {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 170px;
}

article .logo a:hover {
  background: none;
  opacity: .8;
}

h1 {
  font-size: 32px;
  margin: 0 0 30px 0;
  width: calc(100% - 250px);
  font-weight: normal;
  color: black;
  position: relative;
  line-height: 120%;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
  color: #DB6058;
  margin: 20px 0 15px 0;
}

h3 {
  color: #DB6058;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 8px 0;
}

.example {
  display: flex;
  margin: 35px 0 35px 0;
}

.example .title,
.example .content {
  padding: 30px 35px;
}

.example .title{
  flex: 1;
  background: #DEEEFA;
}

.example .title h1 {
  display: inline-block;
  color: #3075A0;
  padding: 0 0 2px 0;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  border-bottom: solid 2px #AACADF;
}

.example .content {
  flex: 2;
  background: #C8E3F7;
  color: #3075A0;
}

.example .content * {
    color: inherit;
}

.example .content p:last-child {
  margin: 0;
}


hr {
  color: #FF4E1F;
  background: #FF4E1F;
  width: 75%;
  height: 5px;
}

.meta-information {
  display: flex;
}

.meta-information .summary {
  flex: 2;
  margin: 0;
  font-size: 18px;
  line-height: 145%;
  padding: 0 0 0 25px;
  font-style: italic;
  border-left: solid 3px rgba(219,96,88,.25);
}
.meta-information .details {
  flex: 1;
}


.main ul {
  color: rgba(0,0,0,.5);
  margin-top: 0;
  padding-left: 25px;
}

.main ul li {
  line-height: 135%;
  margin-bottom: 10px;
}

.presentation-details {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.presentation-details section {
  flex: 1;
  margin: 0 15px;
}

h4 {
  color: rgba(0,0,0,1);
  margin: 50px 0 10px 0;
  font-size: 18px;
  font-weight: normal;
}


b, strong {
  font-weight: 500;
  color: rgba(0,0,0,1);
}

ul, p {
  margin: 0 0 30px 0;
}

ol {
  padding: 0 0 20px 20px;
}

ol li {
  margin: 0 0 12px 0;

}

a {
  color: #3897c1;
  transition: background .1s ease-out;
}

a:hover {
  color: #2f87a5;
  background: rgba(56, 151,193,.1);
}


.main {
  position: relative;
  padding: 30px 45px 30px 245px;
  z-index: 1;
}


/* Left column Navigation */

aside {
  background: rgba(219,96,88,1);
  position:fixed;
  height: 100vh;
  top: 0;
  z-index: 2;
}

aside .image {
  position: relative;
}

aside .image img {
  width: calc(100% - 20px);
}

figcaption {
  font-weight: 300;
  font-style: italic;
  color: #4d4e53;
  padding-bottom:2%;
  float:right;
  font-size: 14px;
}

.total-time {
  color: rgba(219,96,88,1);
  font-weight: bold;
}

.total-time:before {
  content:   "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
}

.difficulty {
  color: rgba(219,96,88,1);
  font-weight: bold;
}

.difficulty:before {
  content:   "\f007";
  font-family: FontAwesome;
  margin-right: 6px;
  color: rgba(219,96,88,1);
}


.step-time {
  font-size: 18px;
  padding: 10px 16px 10px 14px;
  border-width: 0 0 0 2px;
  display: block;
  font-size: 16px;
  margin: 0 0 15px 0;
  display: inline-block;
}


figure {
  padding: 0 0 50px 0;
  margin: 20px 0 0 0;
}

figure img {
  display: block;
  max-width: 100%;
}

figcaption {
  background: #efefef;
  padding: 4px 8px;
  margin-top: 8px;
}

.discussion-link {
  border-top: solid 1px #DDD;
  padding-top: 20px;
  margin-top: 55px;
  padding-bottom:0;
  margin-bottom:0;
}

/* Agenda Navigation */

.agenda-navigation {
  padding: 0;
  margin: 15px 0 80px 0;
  list-style-type: none;
  position: relative;
}

.agenda-navigation li {
  position: relative;
}

.agenda-navigation li a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: background .1s ease-out;
  color: rgba(255,255,255,.7);
  padding: 18px 30px;
  font-weight: 500;
}

.agenda-navigation a.selected {
  background: #C14B48;

  color: white;
}

.agenda-navigation a:hover {
  background: #C14B48;
}

}

.agenda-navigation li.selected a {
  color: rgba(255,255,255,1);
}


.agenda-navigation li.selected:after {
  border: solid 2px rgba(255,255,255,.8);
  color: rgba(255,255,255,1);
}



/* For narrow viewports */

@media all and (max-width: 600px) {

  [mode=step] .activity-title {
    margin: 0 0 5px 0;
  }

  .agenda > li > h1 {
    font-size: 30px;
    padding-bottom: 15px;
    margin: 0 0 25px 0;
  }

  .total-time {
    padding: 8px 12px;
    margin: 20px 0 0px 0;
  }

  .step-time {
    top: 26px;
    right: 30px;
    font-size: 16px;
    padding: 5px 10px;
    position: absolute;
  }

  aside {
    width: 100%;
    max-width: 100%
  }

  .wrapper {
    min-height: auto;
  }

  .main {
    padding: 30px 25px 30px 25px;
    margin-top: 50px;
  }

  aside {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
  }

  aside img {
    display: none;
  }

  .agenda-navigation {
    margin: 0;
    display: flex;
    overflow-x: auto;
    position: relative;
/*    height: 80px;*/
    line-height: 80px;
  }

  /*  This is the little arrow when there are scrolling steps*/
  .agenda-navigation:after {
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    color: white;
    height: 58px;
    content:  "\f105";
    font-family: FontAwesome;
    padding: 18px 15px 18px 25px;
    font-size: 22px;
    color: rgba(255,255,255,.4);
    box-sizing: border-box;
    background-image: linear-gradient(90deg, rgba(201,39,81,0), #C92751 80%);
  }


  .agenda-navigation li {
    flex: 1;
    position: relative;
    min-width: 40px;
  }

  .agenda-navigation li a {
    padding: 18px 0;

  }

  .agenda-navigation li:after {
    pointer-events: none;
    position: absolute;
    border: none !important;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 17px;
    border: none;
  }

  .agenda-navigation li:first-child:after {
    content:  "\f024";
    font-family: FontAwesome;
    top: 3px;
  }

  .agenda-navigation li:nth-child(1):after {
    left: 0 !important;
  }

  .agenda-navigation li a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

}




@media print {

  h1.activity-title {
    font-size: 30px;
  }

  .agenda h1 {
    font-size: 30px;
  }

  body {
    font-size: 15px !important;
  }

  article {
    padding: 0 10px !important;
  }

  p.summary {
    padding: 0;
    background: transparent;
    font-size: 15px;
  }

  .time {
    border: solid 2px #DDD;
    color: #999 !important;
    border-width: 2px 2px 2px 2px;
    background: transparent;

  }

  figure {
    max-width: 65%;
  }

  .btn {
    border: solid 2px #BBB !important;
    color: #999 !important;
    border-width: 2px 2px 2px 2px !important;
    background: transparent !important;
    padding: 8px;
    font-size: 15px;
  }

  aside {
    display: none !important;
  }

  .discussion-link {
    display: none !important;
  }

  .agenda {
    margin-top: 30px !important;
  }

  .main ul li {
    line-height: 100%;
  }

  .agenda > li {
    margin-top: 55px !important;
    display: block !important;
    position: relative !important;
  }

  .agenda > li .step-time {
    right: 2px !important;
    top: 0 !important;
    padding: 8px;
    font-size: 15px;
  }

}



/* List within a step */

.steps li {
  list-style-type: disc;
}

.steps li h2 {
  font-size: 15px;
  color: black;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.steps li .step-time {
  margin: 0 0 10px;
  color: #B2B2B2;
  padding: 0;
}

.steps li .step-time:before {
  content:   "\f017";
  font-family: FontAwesome;
  margin-right: 6px;
  color: #C4C4C4;
}



/*The steps to complete list*/

.steps {
  margin: 30px 0 40px 0;
  padding: 0;
}

.steps h1 {
  font-weight: 500;
  font-size: 22px;
  margin: 0 0 6px 0;
  padding: 0;
  color: #DB6058;
}

.steps {
  padding-left: 60px;
}

.steps > ol {
  padding: 0;
}

.steps > li {
  list-style-type: none;
  position: relative;
  border-bottom: solid 2px #F5D0CD;
  padding: 0 0 10px 0;
  margin: 0 0 40px 0;
}

.steps > li:last-child {
  border: none;
  margin: 0;
}

.steps > li:after {
  position: absolute;
  left: -60px;
  top: -10px;
  font-weight: bold;
  font-size: 22px;
  color: #DB6058;
  border: solid 2px #F5D0CD;
  height: 43px;
  width: 43px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
  border-radius: 0 50% 50% 50%;
}

.steps > li:nth-child(1):after {
  content: "1";
}

.steps > li:nth-child(2):after {
  content: "2";
}

.steps > li:nth-child(3):after {
  content: "3";
}

.steps > li:nth-child(4):after {
  content: "4";
}

.steps > li:nth-child(5):after {
  content: "5";
}

.steps > li:nth-child(6):after {
  content: "6";
}

.steps > li:nth-child(7):after {
  content: "7";
}

.steps > li:nth-child(8):after {
  content: "8";
}

dl {
  display: block;
  column-count: 2;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;
}


dd {
  margin-bottom: 20px;
  margin-left: 20px;
}

dt {
  font-weight: 500;
}


.resources {
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  column-count: 2;
  column-gap: 30px;
  padding-bottom: 30px;
}

.resources .resource  {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  padding-bottom: 25px;
}

.resources h4 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;

}

.resources p {
  margin: 10px 0 0 0;
}

